{% extends 'base.html' %} {% block content %}
<div class="center__div">
  <img class="avatar" src="{{request.user.profile.profile_pic.url}}" alt="" />
  <h2>{{user.username}} profile</h2>
  <br /><br />
  <h4>Previous Quizzes</h4>
  <br /><br />
  <table>
    <tr>
      <th>Course</th>
      <th>Score</th>
      <th>Time Taken</th>
    </tr>
    {% for session in sessions %}
    <tr>
      <td>
        <a href="{% url 'review' session.id %}"
          >{{session.course.course_name}}</a
        >
      </td>
      <td><a href="{% url 'review' session.id %}">{{session.mark}}</a></td>
      <td>
        <a href="{% url 'review' session.id %}"
          >{{session.time_taken|timesince}} ago
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>

  <br /><br /><br />
  <h4>Retake Quizzes</h4>
  {% for course in courses %}
  <a href="{% url 'pre_quiz' course.id %}">
    <p>{{course.course_name}}</p>
  </a>
  {% endfor %}
  <br /><br /><br />
  <button>
    <a href="{% url 'quiz_select' %}">take quiz</a>
  </button>
  <button><a href="{% url 'previous_quiz' %}">former quizes</a></button>
</div>
{% endblock content %}
