{% extends 'base.html' %} {% block content %} {% comment %}
<form action="{% url 'quiz_select' %}" method="get">
  <label>
    <title>Search</title>
    <input name="q" placeholder="search for quizzes" />
  </label>
</form>
{% endcomment %}
<form class="header__search" method="GET" action="{% url 'quiz_select' %}">
  <label>
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 32 32"
    >
      <title>search</title>
      <path
        d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z"
      ></path>
    </svg>
    <input name="q" placeholder="Search for Quizzes" />
  </label>
</form>
<div>
  <h2>Available Quizzes</h2>
  <table>
    <tr>
      <th>Course Code</th>
      <th>Course Title</th>
      <th>Total NO of Questions</th>
    </tr>
    {% for course in courses %}
    <tr onclick="location.href={% url 'pre_quiz' course.id %}">
      <td>
        <a href="{% url 'pre_quiz' course.id %}">{{course.course_code}}</a>
      </td>
      <td>
        <a href="{% url 'pre_quiz' course.id %}">{{course.course_name}}</a>
      </td>
      <td>
        <a href="{% url 'pre_quiz' course.id %}">{{course.num_of_question}}</a>
      </td>
    </tr>
    {% endfor %}
  </table>
  <br /><br /><br /><br />
  <p>submit your own quiz <a href="{% url 'new_quiz' %}">here</a></p>
</div>
{% endblock content %}
