{% extends 'base.html' %} {% block content %}
<div class="align__div">
  <form method="POST" enctype="multipart/form-data" class="form">
    {% csrf_token %} {% for field in userForm %}
    <div class="form__group">
      <label for="">{{field.label}}</label>
      {{field}}
    </div>
    {% endfor %} {% for field in profileForm %}
    <div class="form__group">
      <label for="">{{field.label}}</label>
      {{field}}
    </div>
    {% endfor %}
    <button type="submit">Register</button>
  </form>
  <br />
  <p>Already signed up yet?</p>
  <a href="{% url 'login' %}">Login</a>
</div>

{% endblock content %}
